.mainmenubtn {
    cursor: pointer;
    display: inline;
    width: 15vw; /* Utilisation de vw pour la largeur */
    min-width: 9.375rem; /* 150px converti en rem */
    height: 3rem; /* 30px converti en rem */
    background-color: #088b97;
    border-color: #088b97;
    font-weight: bold;
    border: none;
    color: white;
    border-bottom: 0.1875rem solid #088b97;
    font-size: 15px;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.mainmenubtn:hover {
    background-color: #088b97;
    border-bottom: 0.3rem solid white; /* 3px converti en rem */
    margin-bottom: 1 rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #088b97;
    min-width: 12.5rem; /* 200px converti en rem */
    position: absolute;
    z-index: 1; 
    top: 87%;
}

.dropdown-child a {
    color: white;
    padding: 1.25rem; /* 20px converti en rem */
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: flex; /* Afficher le contenu au survol du bouton principal ou du contenu enfant */
    flex-direction: column;
}

.mainmenubtn:hover + .dropdown-child,
.dropdown-child:hover {
    display: flex; /* Afficher le contenu au survol du bouton principal ou du contenu enfant */
    flex-direction: column;
}