.mainmenubtn {
    cursor: pointer;
    display: flex;
    width: 10vw; /* Utilisation de vw pour la largeur */
    min-width: 9.375rem; /* 150px converti en rem */
    height: 1.5rem; /* 30px converti en rem */
    margin-top: 1rem; /* Utilisation de rem pour la marge */
    background-color: #ff4a9c;
    border-color: #ff4a9c;
    font-weight: bold;
    border: none;
    color: white;
    margin-bottom: 0.3125rem; /* 5px converti en rem */
}

.mainmenubtn:hover {
    background-color: #ff4a9c;
    border-bottom: 0.1875rem solid white; /* 3px converti en rem */
    margin-bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #ff4a9c;
    min-width: 12.5rem; /* 200px converti en rem */
    position: absolute;
    z-index: 1; 
    top: 100%;
}

.dropdown-child a {
    color: white;
    padding: 1.25rem; /* 20px converti en rem */
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: flex; /* Afficher le contenu au survol du bouton principal ou du contenu enfant */
    flex-direction: column;
}

.mainmenubtn:hover + .dropdown-child,
.dropdown-child:hover {
    display: flex; /* Afficher le contenu au survol du bouton principal ou du contenu enfant */
    flex-direction: column;
}
