#align{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 60vw;
  text-align: center;
  align-items: center ;
}

#texte {
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem; /* Utilisation de rem pour la marge */
  border-radius: 0.625rem; /* 10px converti en rem */
  width: 90vw; /* Utilisation de pourcentage pour la largeur */
  max-width: 37.5rem; /* 600px converti en rem */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  height: 38vw;
}

#para1 {
  margin-left: 1.25rem; /* 20px converti en rem */
  margin-right: 0.625rem; /* 10px converti en rem */
  margin-bottom: 0.625rem; /* 10px converti en rem */
  color: white;
  font-size: 1rem; /* 15px converti en rem */
  padding: 2vw;
}

#informations {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub {
  width: 60vw;
  padding: 0.125rem; /* 2px converti en rem */
  background-color: #033135;
  text-align: left;
  position: relative;
  border-radius: 0.625rem 0.625rem 9.375rem 0.625rem; /* 10px et 150px convertis en rem */
  text-overflow: ellipsis;
  color: #033135;
  margin-right: 0.2rem; /* 5px converti en rem */
  overflow: hidden;
  white-space: normal; 
  word-wrap: break-word;
  color:white;
  text-shadow: 
  -0.1rem -0.1rem 0 black,  /* 10px converti en rem */
  0.1rem -0.1rem 0 black,  /* 10px converti en rem */
  -0.1rem 0.1rem 0 black,  /* 10px converti en rem */
  0.1rem 0.1rem 0 black;  /* 10px converti en rem */
  font-size: 2.5rem;
  font-style: normal;
  margin-bottom: 0;
}

#liste1 {
  margin-left: 1.25rem; /* 20px converti en rem */
  margin-right: 0.625rem; /* 10px converti en rem */
  margin-bottom: 0.625rem; /* 10px converti en rem */
  color: white;
  font-size: 1rem; /* 15px converti en rem */
  padding: 1vw;
}

.Presentation {
  background-color:    #d3f9fd;
}

#dys {
  font-size: 2rem; /* 30px converti en rem */
  color: #033135;
}

#texte1{
  height: 23vw;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem; /* Utilisation de rem pour la marge */
  border-radius: 0.625rem; /* 10px converti en rem */
  width: 90vw; /* Utilisation de pourcentage pour la largeur */
  max-width: 37.5rem; /* 600px converti en rem */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

