#para2{
    font-style: normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    width: 80vw;
    color: white;
    padding: 2vw;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}


#objectifs{
    font-style: normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    color: white;
    padding: 2vw;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

#etude{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Etude{
    background-color: #d3f9fd
}