
#nav {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #088b97;
    height: 12vh; /* Utilisation de vh pour la hauteur */
    width: 100%;
    margin-bottom: 1rem; /* Utilisation de rem pour la marge */
    color: white;
}

#image {
    background-image: url(../../../public/Screenshot\ 2024-05-14\ at\ 17.21.41.png);
    background-position: center; /* Simplification */
    background-repeat: no-repeat;
    height: 30vh; /* Utilisation de vh pour la hauteur */
    width: 100%; /* Utilisation de % pour la largeur */
    padding: 3.75rem; /* 60px converti en rem */
    background-size: cover;
}
