.Gestion{
    background: #d3f9fd;
}

.zoom{
    background-image: url(../../../public/Zoom-Logo.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.whatsapp{
    background-image: url(../../../public/png-clipart-green-call-icon-whatsapp-logo-whatsapp-text-trademark.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.appli{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.carre{
    padding: 10px;
    border: 3px solid #12e0f3;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.kami{
    background-image: url('../../../public/IMG_3778.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 140px 140px 140px 140px;
 background-position: center;
}

.greg{
    background-image: url('../../../public/IMG_20231127_140318.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 140px 140px 140px 140px;
 background-position: center;
}

.equipe{
    background-color:#033135 ;
    padding: 10px;
    border-radius: 10px;
    width: 340px;
    text-align: center;
}

.photos{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
}


.orga{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kami,.greg,.zach{
    color:white;
}

.organisation{
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    color: #033135;
    margin-top: 20px;
}