.Gestion {
  background: #d3f9fd;
}

.zoom {
  background-image: url(../../../public/Zoom-Logo.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.whatsapp {
  background-image: url(../../../public/png-clipart-green-call-icon-whatsapp-logo-whatsapp-text-trademark.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.appli {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.carre {
  padding: 10px;
  border: 3px solid #033135;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.kami {
  background-image: url("../../../public/IMG_3778.png");
  background-size: cover;
  width: 5vw;
  height: 5vw;
  border-radius: 140px 140px 140px 140px;
  background-position: center;
}

.zach {
  background-image: url("../../../public/20230729_175700.jpg");
  background-size: cover;
  width: 5vw;
  height: 5vw;
  border-radius: 140px 140px 140px 140px;
  background-position: center;
}

.greg {
  background-image: url("../../../public/IMG_20231127_140318.jpg");
  background-size: cover;
  width: 5vw;
  height: 5vw;
  border-radius: 140px 140px 140px 140px;
  background-position: center;
}

.equipe {
  background-color: #033135;
  padding: 2vw;
  border-radius: 10px;
  width: 25vw;
  height: 18vw;
  font-size: 1vw;

  text-align: center;
  color: white;
}

.photos {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: white;
}

.orga {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kami,
.greg,
.zach {
  color: white;
}

.organisation, .com {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  color: #033135;
  margin-top: 20px;
  display: flex-column; 
  justify-content: center; 
  flex-direction: column;
  display: flex;
  align-items: center;
}


.planning, .matriceDeRisque{
    width: 1vw;
    height: 1vw;
    margin-top: 10vw;
}

.position{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 2vw;
    background-color: white;
    border-radius: 10px;
}

.img{
    width: 65vw;
    height: auto;
    padding: 2vw;

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.commentaire{
    text-align: center;
    font-size: 1.5vw;
    background-color: #033135;
    color: white;
}