.footer{
    background : #72edf8;
    margin-top: 100px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 140px 140px 0px 0px;
    overflow: auto;
    white-space: 1;
    color: #033135;
}

.reseaux{
    margin-left: 30px;
    font-size: small;
    font-size: 1vw;
}

.autre{
    margin-right: 20px;
    font-size: 1vw;
}

.alignement{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.contact{
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
}

.titi{
    width:5vw;
    height: 7vw;
}
