@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h3, h2, h1, h4{
    font-family: 'Montserrat';
    font-weight: 600;
}

p, li, a, button, ul, .commentaire{
    font-family: 'Open Sans';
    font-weight: 400;
}